

      .send-button {
        background-color: rgb(25, 135 ,84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;

      }
      .chat-input {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;

        flex-grow: 1;
      }
      .chat-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
      }

      .app-container {
        max-width: 600px;
        margin-left:  auto;
        margin-right: auto;

        height: 100vh;
        display: flex;
        flex-direction: column;
        
      }

      .chat-message-user {
        display:flex;
        justify-content: end;
        align-items: center;
        
      }
      .chat-message-robot {
        display:flex;
        justify-content: start;
         align-items: center;
      }
      
    
      .chat-message-text {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 10px;
        max-width: 300px;
        margin: 5px;
        
      }

      .chat-message-profile {
        width: 45px;
        height: 45px;
        object-fit: contain;
        flex-shrink: 0;
        margin: 0 8px;}

      .chat-messages-container {
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;

      }